:root {
  --primary-color: #3a2222;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}
@keyframes bgMove {
  50% {
    background-position: 100%;
  }
}
.cd img,
.title,
.song__name,
.song__author,
.progress-time__duration,
.progress-time__current-time {
  user-select: none;
}

.tooltip {
  position: absolute;
  background-color: #fff;
  font-size: 1.2rem;
  width: max-content;
  text-align: center;
  padding: 4px 10px;
  border-radius: 20px;
  bottom: 70%;
  right: 50%;
  transform: translateX(50%) translateY(-50%) scale(0);
  transform-origin: bottom;
}
.toolltip::after {
  position: absolute;
  content: "";
  right: 50%;
  top: calc(100% - 1px);
  border-width: 6px 8px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #fff;
  transform-origin: top;
  transform: translateX(50%) translateY(-50%) scale(0);
}
.tooltip,
.tooltip::after {
  --scale: 0;
  visibility: hidden;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
}

.btn {
  cursor: pointer;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideInBottom {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: 739px) {
  .music-card,
  .playlist {
    max-width: 90%;
    margin: 0 auto;
  }
}
